{{- $query := first 1 (where .Context.Site.Pages "Layout" "==" "search") -}}
{{- if $query -}}
    {{- $searchPage := index $query 0 -}}
    <section class="widget">
        <div class="widget-title-section">
            <h2 class="widget-title section-title">{{ T "search.title" }}</h2>

            <div class="widget-icon">
                {{ partial "helper/icon" "circle-search" }}
            </div>
        </div>
        <form action="{{ $searchPage.RelPermalink }}" class="search-form" {{ with .OutputFormats.Get "json" -}}data-json="{{ .Permalink }}" {{- end }}>
            <input name="keyword" required placeholder="{{ T `search.placeholder` }}" />
        
            <button title="{{ T `search.title` }}">
                {{ partial "helper/icon" "search" }}
            </button>
        </form>
    </section>
{{- else -}}
    {{- warnf "Search page not found. Create a page with layout: search." -}}
{{- end -}}